<div class="text-center more-link">
  <p>
    <%= link_to button_url, class: "action-link" do %>
      <span><%= button_text %></span>
      <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
    <% end %>
  </p>
</div>
