<section class="extended subhero home-section">
  <div class="row">
    <div class="columns small-centered large-10">
      <div class="lead">
        <%= decidim_sanitize translated_attribute current_organization.description %>
      </div>
      <% unless current_user %>
        <% if Devise.mappings[:user].registerable? %>
          <%= link_to decidim.new_user_registration_path, class: "button--sc link subhero-cta" do %>
            <%= t("decidim.pages.home.sub_hero.register") %>
            <%= icon "chevron-right", aria_hidden: true, role: "none presentation" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
