<div class="extended home-section">
  <div class="hero__container">
    <div class="row">
      <div class="columns large-8 large-centered">
        <div class="text-center">
          <h1 class="heading1">
            <%= title %>
          </h1>
          <div class="lead">
            <%== description %>
            <%= link %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
