<div class="home-section">
  <div class="row">
    <div class="columns small-centered large-10">
      <% if has_image? %>
        <div class="section-image">
          <%= image_tag image, alt: title %>
        </div>
      <% end %>
      <h2 class="heading2">
        <%= title %>
      </h2>

      <div class="row">
        <div class="columns small-centered large-10">
          <div class="lead">
            <%== description %>
            <%= link %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
