$footer-bg: $hel-metro;
$footer-bg-paahtimo: $hel-gold;
$footer-fg: $hel-white;
$footer-fg-paahtimo: $hel-black;

.main-footer,
.mini-footer  {
  background-color: $footer-bg;
  color: $footer-fg;
  padding-top: 2rem;

  @include breakpoint(medium) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include breakpoint(large) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  a {
    color: $footer-fg;
    text-decoration: underline;
  }
}

.wrapper-paahtimo {
  .main-footer,
  .mini-footer {
    background-color: $footer-bg-paahtimo;
    color: $footer-fg-paahtimo;

    a {
      color: $footer-fg-paahtimo;
    }
  }
}

.main-footer {
  .main-footer__badge {
    display: block;
    width: 140px;
    img { height: 100%; }
  }
}

.main__footer__nav {
  h3 {
    color: $footer-fg;
    font-weight: 800;
  }

  .footer-nav {
    list-style: none;
    margin: 0;
  }
}

.wrapper-paahtimo {
  .main__footer__nav {
    h3 {
      color: $footer-fg-paahtimo;
    }
  }
}

.mini-footer {
  padding-bottom: 6rem;
}

@include breakpoint(medium) {
  .mini-footer__copyright { text-align: right; }
}
