$footer-bg: $black;
$footer-bg-paahtimo: $black;
$footer-bg-ruuti: $black;
$footer-fg: $white;
$footer-fg-paahtimo: $white;
$footer-fg-ruuti: $white;

.main-footer,
.mini-footer{
  background-color: $footer-bg;
  color: $footer-fg;
  font-size: .95rem;

  a{
    color: $footer-fg;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
  }

  .seattle-logo {
    border: 4px solid $white;
    color: $white;
  }

  .row {
    display: flex;
    align-items: center;

    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 200rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.mini-footer{
  padding-top: 4rem;
}

.wrapper-paahtimo{
  .footer-wrapper{
    .koro-top{
      @include koro("basic", $footer-bg-paahtimo, 1000);
    }
  }

  .main-footer,
  .mini-footer{
    background-color: $footer-bg-paahtimo;
    color: $footer-fg-paahtimo;

    a{
      color: $footer-fg-paahtimo;
    }
  }
}

.wrapper-ruuti{
  .footer-wrapper{
    .koro-top{
      @include koro("basic", $footer-bg-ruuti, 1000);
    }
  }

  .main-footer,
  .mini-footer{
    background-color: $footer-bg-ruuti;
    color: $footer-fg-ruuti;

    a{
      color: $footer-fg-ruuti;
    }
  }
}

.main-footer{
  padding-top: 3.2rem;

  .main-footer__badge{
    display: block;
    margin-top: 9px;
    width: 140px;

    @include breakpoint(medium){
      width: 160px;
    }

    @include breakpoint(large){
      width: 180px;
    }

    @include breakpoint(xlarge){
      width: 220px;
    }

    img{ height: 100%; }
  }
}

.main__footer__nav{
  h3{
    color: $footer-fg;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .footer-nav{
    list-style: none;
    margin: 0;
    margin-top: 10px;

    a{
      font-weight: $global-weight-normal;
    }

    li{
      margin-top: 4px;
      font-size: 1.125rem;
    }

    .footer-nav{
      margin-left: 15px;
    }
  }
}

.wrapper-paahtimo{
  .main__footer__nav{
    h3{
      color: $footer-fg-paahtimo;
    }
  }
}

.wrapper-ruuti{
  .main__footer__nav{
    h3{
      color: $footer-fg-ruuti;
    }

    .footer-nav{
      a{
        color: $footer-fg-ruuti;
      }
    }
  }
}

.mini-footer{
  padding-bottom: 6rem;

  .cc-badge{
    position: relative;
    top: -1px;
    margin-right: .5rem;
  }
}

@include breakpoint(medium){
  .mini-footer__copyright{ text-align: right; }
}
