$footer-bg: $secondary;
$paahtimo-footer-bg: $hel-summer;
$ruuti-footer-bg: $hel-fog;
$footer-fg: $primary;
$paahtimo-footer-fg: $black;
$ruuti-footer-fg: $hel-bus;

.footer-wrapper{
  .koro{
    bottom: 0;

    svg{
      fill: $footer-bg;
      transform: scale(1.8);
    }

    &.with-wrapper--inner{
      background: $light-gray-dark;
    }
  }
}

.main-footer,
.mini-footer{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: $footer-bg;
  color: $footer-fg;

  @include breakpoint(large){
    padding-left: 4rem;
    padding-right: 4rem;
  }

  a{
    color: $footer-fg;
  }

  a,
  .link,
  button,
  .button{
    &.focus,
    &:focus{
      outline: 2px solid $highlight-secondary;
    }
  }
}

.wrapper-paahtimo{
  .footer-wrapper{
    .koro{
      svg{
        fill: $paahtimo-footer-bg;
      }
    }
  }

  .main-footer,
  .mini-footer{
    background-color: $paahtimo-footer-bg;
    color: $paahtimo-footer-fg;

    a{
      color: $paahtimo-footer-fg;
    }
  }
}

.wrapper-ruuti{
  .footer-wrapper{
    .koro{
      svg{
        fill: $ruuti-footer-bg;
      }
    }
  }

  .main-footer,
  .mini-footer{
    background-color: $ruuti-footer-bg;
    color: $ruuti-footer-fg;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    a{
      color: $ruuti-footer-fg;
    }
  }
}

.main-footer{
  padding-top: 3.2rem;

  @include breakpoint(medium){
    font-size: 1.35rem;
  }

  .main-footer__badge{
    display: block;
    margin-top: 9px;
    width: 132px;

    img{ height: 100%; }
  }

  .main__footer__processes{
    @include breakpoint(medium){
      margin-top: 3rem;
    }

    @include breakpoint(large){
      margin-top: 0;
    }
  }

  .main__footer__contact{
    h4{
      margin-bottom: 0;
    }
  }

  .column{
    margin-bottom: 2.5rem;

    p:last-child{
      margin-bottom: 0;
    }

    @include breakpoint(medium){
      margin-bottom: 0;
    }
  }
}

.main__footer__nav{
  font-size: 1rem;

  h3{
    color: $footer-fg;
    font-weight: 600;
    font-size: 1.55rem;
    margin-bottom: 0;
  }

  .footer-nav{
    margin: -.7rem 0 0;
    list-style: none;

    li{
      margin-top: .7rem;
    }

    a{
      font-weight: $global-weight-normal;
    }

    .footer-nav{
      margin-top: 0;
      margin-left: 15px;
    }
  }
}

.wrapper-paahtimo{
  .main__footer__nav{
    h3{
      color: $paahtimo-footer-fg;
    }
  }
}

.wrapper-ruuti{
  .main__footer__nav{
    h3{
      color: $ruuti-footer-fg;
    }

    .footer-nav{
      a{
        color: $ruuti-footer-fg;
      }
    }
  }
}

.mini-footer{
  padding-top: 1rem;
  padding-bottom: 3rem;

  @include breakpoint(medium){
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .cc-badge{
    position: relative;
    top: -1px;
    margin-right: .5rem;
  }
}

@include breakpoint(medium){
  .mini-footer__copyright{ text-align: right; }
}
