//Basic modules
@import "decidim/modules/margins";
@import "typography";
@import "title-action";
@import "buttons";
@import "decidim/modules/forms";
@import "decidim/modules/icons";
@import "decidim/modules/video";

//Foundation overrides
@import "decidim/modules/reveal";

//Layout
@import "layout";
@import "navbar";
@import "decidim/modules/main-container";
@import "footer";
@import "decidim/modules/static-pages";

//Cards and containers
@import "decidim/modules/card-grid";
@import "cards";
@import "decidim/modules/extra";
@import "decidim/modules/definition-data";
@import "decidim/modules/callout";

//Shared modules
@import "decidim/modules/comments";
@import "decidim/modules/messages";
@import "decidim/modules/opinion-toggle";
@import "decidim/modules/flag";
@import "decidim/modules/author-avatar";
@import "decidim/modules/address";
@import "decidim/modules/order-by";
@import "decidim/modules/tags";
@import "decidim/modules/input-tags";
@import "decidim/modules/input-mentions";
@import "decidim/modules/input-hashtags";
@import "decidim/modules/list-docs";
@import "decidim/modules/datepicker";
@import "decidim/modules/pagination";
@import "decidim/modules/data-picker";
@import "decidim/modules/progress-bar";
@import "decidim/modules/docs-manager";
@import "decidim/modules/horizontal-tabs";
@import "decidim/modules/conversation";
@import "decidim/modules/badges";
@import "decidim/modules/hover-section";
@import "decidim/modules/list-request";
@import "floating-helper";

//Process elements
@import "process-header";
@import "decidim/modules/process-info";
@import "decidim/modules/process-nav";
@import "decidim/modules/process-phase";
@import "timeline";
@import "decidim/modules/filter-tags";
@import "decidim/modules/filters";
@import "decidim/modules/inline-filters";
@import "decidim/modules/reference";
@import "decidim/modules/status-labels";

//Conference elements
@import "decidim/modules/conference-nav";
@import "decidim/modules/conference-speaker";
@import "decidim/modules/conference-programme";
@import "decidim/modules/conference-registration";
@import "decidim/modules/conference-diploma";
@import "decidim/modules/conference-media";

//User interface
@import "decidim/modules/user-form";
@import "signup";

//Additional elements
@import "decidim/modules/share";
@import "decidim/modules/help";
@import "decidim/modules/cookie-bar";
@import "decidim/modules/map";
@import "decidim/modules/omnipresent_banner";
@import "decidim/modules/wizard-steps";
@import "decidim/modules/collapsible-list";
@import "decidim/modules/block-banner";
@import "decidim/modules/fingerprint";
@import "decidim/modules/toggle";
@import "decidim/modules/loading-spinner";
