.omnipresent-banner{
  background-color: $hel-copper;
  color: $black;
  text-align: center;
  padding: 1rem;
  font-size: 1.2em;

  .omnipresent-banner-title{
    font-weight: bold;
    margin-right: 1em;
  }

  .omnipresent-banner-short-description{
    margin-right: .5em;
    margin-left: 1em;
  }

  a{
    color: $black;

    &:hover,
    &:focus{
      color: rgba($white, .8);
    }
  }
}

.wrapper-paahtimo{
  .omnipresent-banner{
    background-color: $hel-coat;
    color: $white;

    a{
      color: $white;

      &:hover,
      &:focus{
        color: rgba($white, .8);
      }
    }
  }
}
