$omnipresent-banner-bg: $hel-copper;
$omnipresent-banner-bg-paahtimo: $hel-coat;
$omnipresent-banner-bg-ruuti: $hel-copper;
$omnipresent-banner-fg: $black;
$omnipresent-banner-fg-paahtimo: $white;
$omnipresent-banner-fg-ruuti: $black;

.omnipresent-banner{
  background-color: $omnipresent-banner-bg;
  color: $omnipresent-banner-fg;
  text-align: center;
  padding: 1rem;
  font-size: 1.2em;

  .omnipresent-banner-title{
    font-weight: bold;
    margin-right: 1em;
  }

  .omnipresent-banner-short-description{
    margin-right: .5em;
    margin-left: 1em;
  }

  a{
    color: $omnipresent-banner-fg;

    &:hover,
    &:focus{
      color: rgba($white, .8);
    }
  }
}

.wrapper-paahtimo{
  .omnipresent-banner{
    background-color: $hel-coat;
    color: $omnipresent-banner-fg-paahtimo;

    a{
      color: $omnipresent-banner-fg-paahtimo;

      &:hover,
      &:focus{
        color: rgba($omnipresent-banner-fg-paahtimo, .8);
      }
    }
  }
}

.wrapper-ruuti{
  .omnipresent-banner{
    background-color: $omnipresent-banner-bg-ruuti;
    color: $omnipresent-banner-fg-ruuti;

    a{
      color: $omnipresent-banner-fg-ruuti;

      &:hover,
      &:focus{
        color: rgba($omnipresent-banner-fg-ruuti, .8);
      }
    }
  }
}
