.process-header{
  //margin-bottom: $margin-sm;

  /*
  @include breakpoint(medium){
    margin-bottom: $margin-m;
  }
  */

  .heading2{
    font-weight: bold;
  }
}

.process-header__main{
  background-size: cover;
  z-index: 0;
  display: block;
}

.process-header__container{
  position: relative;
  z-index: 1;
  padding: 0 0 0 1rem;

  @include breakpoint(mediumlarge){
    display: flex;
    align-items: center;
  }
}

.process-header__info{
  padding: 1rem 1.5rem 1rem 0;

  @include breakpoint(medium){
    padding: 2rem 1.5rem 2rem 0;
  }
}

.process-header__phase{
  background: rgba($dark-gray, .8);
  color: $white;
  text-align: center;
  padding: 2rem 1rem;
  margin-left: -1rem;

  .button{
    margin-top: 1rem;
    margin-bottom: 0;
    color: $white;
    border-color: $white;

    &:hover,
    &.is-active{
      color: $primary;
      border-color: $primary;
    }
  }
}

.wrapper-default .process-header__phase,
.wrapper-paahtimo .process-header__phase{
  background: transparent;
  color: $black;
}

.process-header__phase--simple{
  padding: .5rem 1rem;

  @include breakpoint (medium){
    padding: 2rem 1rem;
  }
}

.process-header__hashtag{
  font-weight: 600;

  &::after{
    content: "·";
    margin-left: .5rem;
    margin-right: .5rem;
  }

  a{
    color: $white;
  }
}

.wrapper-default .process-header__hashtag,
.wrapper-paahtimo .process-header__hashtag{
  a{
    color: $black;
  }
}

.process-header__nav{
  margin-top: auto;
  z-index: 1;
}
