<div id="blogs-count" aria-live="polite" aria-atomic="true">
  <p class="show-for-sr"><%= render partial: "decidim/blogs/posts/count", locals: { posts: posts } %></p>
</div>

<div id="blogs" class="cards-grid row" aria-live="polite">
  <%= render partial: "decidim/blogs/posts/posts", locals: { posts: posts } %>
</div>
