

<% if posts.empty? %>
  <div class="callout secondary">
    <p><%= t(".empty") %></p>
  </div>
<% else %>
  <%= render partial: "decidim/blogs/posts/post", collection: posts %>
<% end %>

<%= decidim_paginate posts %>
