<div class="linked-resources">
  <div class="linked-resources-title">
    <h3><%= title %></h3>
  </div>
  <div class="linked-resources-items">
    <% model.each do |resource| %>
      <div class="linked-resources-item">
        <%= cell(resource_cell, resource) %>
      </div>
    <% end %>
  </div>
</div>
