<div class="linked-resources margin-top-2">
  <div class="linked-resources-title">
    <h2 class="section-heading h5"><%= title %></h3>
  </div>
  <div class="linked-resources-items">
    <% model.each do |resource| %>
      <div class="linked-resources-item">
        <%= cell(resource_cell, resource) %>
      </div>
    <% end %>
  </div>
</div>
