<% if @proposal.amendable? && allowed_to?(:edit, :proposal, proposal: @proposal) %>
  <div class="resource-control-panel margin-top-3">
    <h2 class="resource__aside__title"><%= t ".manage_proposal" %></h2>

    <div class="resource-controls">
      <div class="resource-control">
        <%= link_to t("decidim.proposals.proposals.show.edit_proposal"), edit_proposal_path(@proposal) %>
      </div>
    </div>
  </div>
<% end %>
