<div class="breadcrumbs-section">
  <div class="row columns expanded">
    <nav aria-label="<%= t(".label") %>">
      <ul class="breadcrumbs">
        <% crumbs.each_with_index do |item, index| %>
          <% if crumbs.length == index + 1 %>
            <li aria-current="page">
              <%= item[0] %>
            </li>
          <% else %>
            <li>
              <%= link_to item[0], item[1] %>
              <span aria-hidden="true" class="breadcrumbs-separator"><%= icon("caret-right", role: "img", "aria-hidden": true) %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
