<div class="dataconsent-warning flex-center padding-1 hide">
  <p>
  <%= t("layouts.decidim.data_consent.warning.consent_required", categories: t("layouts.decidim.data_consent.warning.all_categories")) %>
  </p>
  <button type="button" class="button margin-vertical-2">
    <%= t("change_settings", scope: "layouts.decidim.data_consent.warning") %>
  </button>
</div>
