<% if content_for?(:edit_link) %>
  <div class="topbar__edit__link show-for-large" data-set="nav-extra-holder">
    <div class="js-append">
      <%= content_for(:edit_link) %>
    </div>
  </div>
<% end %>
