<nav aria-label="<%= t(".label") %>">
  <ul class="horizontal menu">
    <% available_locales.each do |locale| %>
      <%= content_tag :li, class: "language-nav-link", lang: locale, "aria-current": (locale == I18n.locale.to_s ? "true" : nil) do %>
        <%= link_to locale_name(locale), decidim.locale_path(locale: locale), method: :post %>
      <% end %>
    <% end %>
  </ul>
</nav>
