<div class="hki-city-logo">
  <% if current_locale == "sv" %>
    <%= image_pack_tag "media/images/helsinki-logo-bus-sv.svg", alt: "Helsingfors", class: "logo-sv" %>
  <% else %>
    <%= image_pack_tag "media/images/helsinki-logo-bus.svg", alt: "Helsinki", class: "logo-default" %>
  <% end %>
</div>
