<div class="row">
  <div class="columns small-12">
    <div class="callout announcement main-announcement secondary">
      <%= decidim_sanitize translated_attribute(announcement) %>
    </div>
  </div>
</div>
