<div class="row">
  <div class="columns small-centered large-8">
    <div class="callout announcement main-announcement warning cell-announcement text-center">
      <%= decidim_sanitize translated_attribute(announcement) %>
    </div>
  </div>
</div>
