<%
if @proposal
  meta_description = truncate(strip_tags(@proposal.body), length: 100)
  if attachment = @proposal.attachments.first
    meta_image = attachment.url
  end
end
#meta_image ||= current_participatory_space.banner_image.url
meta_image ||= image_url(meta_image_default)
meta_description ||= translated_attribute(current_participatory_space.short_description)
%>
<% add_decidim_page_title(translated_attribute(current_component.name)) if try(:current_component) %>
<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>
<% add_decidim_meta_tags(
  image_url: meta_image,
  description: meta_description,
) %>

<%= render "layouts/decidim/application" do %>
  <%= render partial: "layouts/decidim/process_header" %>
  <div class="wrapper">
    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% provide :meta_image_url, meta_image %>
