@import 'forms/error';

.form-extra{
  @include form-error;
  display: block;
  color: $black;
}

.field-inline{
  display: inline-block;
  margin-left: 1rem;

  &:first-of-type{
    margin-left: 0;
  }
}
