<div class="home-section callout-section">
  <div class="row">
    <div class="columns small-12">
      <%= cell("helsinki/notification", {
        title: title,
        description: description,
        button: {
          url: button_url,
          text: button_text
        }
        }
      ) %>
    </div>
  </div>
</div>
