<div class="extended hero" style="background-image:url(<%= background_image %>);">
  <% if translated_welcome_text.blank? %>
    <div class="hero__container hero__empty"></div>
  <% else %>
    <div class="hero__container">
      <div class="row">
        <div class="columns small-centered large-10">
          <h1 class="text-highlight heading1 hero-heading">
            <%= decidim_sanitize translated_welcome_text %>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-6 medium-4 mediumlarge-3">
          <%= cta_button %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="koro-bottom"></div>
</div>
