@import "variables";
@import "foundation";
@import "utils/settings";

@include foundation-everything($flex: false);

@import "utils/fontface";
@import "utils/koro";
@import "decidim/utils/helpers";
@import "decidim/utils/keyframes";
@import "decidim/utils/mixins";
@import "decidim/utils/toggle-expand";
@import "modules/modules";
@import "layouts/highlighted_banner";
@import "layouts/home";
@import "decidim/layouts/user";
@import "decidim/layouts/view";
@import "decidim/extras/add_comments";
@import "decidim/extras/announcement";
@import "decidim/extras/collection-sort-controls";
@import "decidim/extras/embed";
@import "decidim/extras/impersonation-bar";
@import "decidim/extras/label-required";
@import "decidim/extras/leaflet";
@import "decidim/extras/meeting-registrations";
@import "decidim/extras/process_stats";
@import "decidim/extras/proposal_form";
@import "decidim/extras/quill";
@import "decidim/extras/reference";
@import "decidim/extras/results-per-page";
@import "decidim/extras/social_icons_mini";
@import "decidim/extras/status-labels";
@import "extras/*";
@import "decidim/vizzs/areachart";
@import "decidim/vizzs/chart-tooltip";
@import "decidim/vizzs/linechart";
@import "decidim/vizzs/orgchart";
@import "decidim/vizzs/rowchart";
