// Helsinki Brand Variables
// Do not use these variables directly.
// Map them to application or theme variables instead.
//
// See: https://hds.hel.fi/design-tokens/colour
// --------------------------------------------------

// Brand colors
$hel-white:             #fff;
$hel-white-rgb:         255,255,255;
$hel-black:             #000;
$hel-black-rgb:         0,0,0;
$hel-copper:            #00d7a7;
$hel-copper-rgb:        0,215,167;
$hel-bus:               #0000bf;
$hel-bus-rgb:           0,0,191;
$hel-coat:              #0072c6;
$hel-coat-rgb:          0,114,198;
$hel-fog:               #9fc9eb;
$hel-fog-rgb:           159,201,235;
$hel-metro:             #fd4f00;
$hel-metro-rgb:         253,79,0;
$hel-brick:             #bd2719;
$hel-brick-rgb:         189,39,25;
$hel-suomenlinna:       #f5a3c7;
$hel-suomenlinna-rgb:   245,163,199;
$hel-engel:             #ffe977;
$hel-engel-rgb:         255,233,119;
$hel-tram:              #009246;
$hel-tram-rgb:          0,146,70;
$hel-tram-dark:         #006631;
$hel-tram-dark-rgb:     0,102,49;
$hel-summer:            #ffc61e;
$hel-summer-rgb:        255,198,30;
$hel-silver:            #dedfe1;
$hel-silver-rgb:        222,223,225;
$hel-gold:              #c2a251;
$hel-gold-rgb:          194,162,81;
$hel-dark-grey:         #525a65;
$hel-dark-grey-rgb:     82,90,101;
$hel-medium-grey:       #abb2bd;
$hel-medium-grey-rgb:   171,178,189;
$hel-light-grey:        #ebedf1;
$hel-light-grey-rgb:    235,237,241;
$hel-error:             #c4123e;
$hel-error-rgb:         196,18,62;
$hel-error-light:       #f6e2e6;
$hel-error-light-rgb:   246,226,230;
$hel-error-dark:        #8d0d2d;
$hel-error-dark-rgb:    141,13,45;
$hel-success:           #007a64;
$hel-success-rgb:       0,122,100;
$hel-success-light:     #e2f5f3;
$hel-success-light-rgb: 226,245,243;
$hel-success-dark:      #006250;
$hel-success-dark-rgb:  0,98,80;
$hel-alert:             #ffda07;
$hel-alert-rgb:         255,218,7;
$hel-info:              #007293;
$hel-info-rgb:          0,114,147;

// Brand monochromes
$hel-dark:          $hel-dark-grey;
$hel-gray:          $hel-medium-grey;
$hel-light:         $hel-light-grey;

// Decidim and Foundation variables
$primary: $hel-bus !default;
$primary-rgb: $hel-bus-rgb !default;
$secondary: $hel-suomenlinna !default;
$secondary-rgb: $hel-suomenlinna-rgb !default;
$success: $hel-success !default;
$success-rgb: $hel-success-rgb !default;
$warning: $hel-alert !default;
$warning-rgb: $hel-alert-rgb !default;
$alert: $hel-error !default;
$alert-rgb: $hel-error-rgb !default;
$highlight: $hel-info !default;
$highlight-rgb: $hel-info-rgb !default;
// The alternative highlight color is used as the input focus color, so it needs
// to have enough color contrast against the following colors:
// - #ffffff (body background) [4.6:1]
// - #e4e6ec (filter section background) [3.69:1]
// - #000000 (input border) [4.56:1]
$highlight-alternative: #0071eb !default;
$highlight-alternative-rgb: $hel-tram-dark-rgb !default;
// The highlight color against the primary and secondary color backgrounds.
$highlight-primary: $secondary;
$highlight-primary-rgb: $secondary-rgb;
$highlight-secondary: $hel-bus;
$highlight-secondary-rgb: $hel-bus-rgb;

// Ruuti variables
$ruuti-primary: $hel-coat !default;
$ruuti-primary-rgb: $hel-coat-rgb !default;
$ruuti-secondary: $hel-black !default;
$ruuti-secondary-rgb: $hel-black-rgb !default;

$proposals: $primary !default;
$actions: $primary !default;
$debates: $primary !default;
$meetings: $primary !default;

$twitter: #55acee !default;
$facebook: #3b5998 !default;
$google: #dd4b39 !default;

// background colors used in public diff views
$color-addition: $hel-success-light !default;
$color-removal: $hel-error-light !default;

// "HelsinkiGrotesk",Helvetica,Arial,MS Gothic,Meiryo,Osaka

$hel-grotesk: "HelsinkiGrotesk", Helvetica, Arial, "MS Gothic", Meiryo, Osaka,
  sans-serif;

// Foundation color customizations
$body-background: $hel-white;

// Define custom properties as css color variables
:root{
  --primary: #{$primary};
  --primary-rgb: #{$primary-rgb};
  --secondary: #{$secondary};
  --secondary-rgb: #{$secondary-rgb};
  --success: #{$success};
  --success-rgb: #{$success-rgb};
  --warning: #{$warning};
  --warning-rgb: #{$warning-rgb};
  --alert: #{$alert};
  --alert-rgb: #{$alert-rgb};
  --highlight: #{$highlight};
  --highlight-rgb: #{$highlight-rgb};
  --highlight-alternative: #{$highlight-alternative};
  --highlight-alternative-rgb: #{$highlight-alternative-rgb};
  --proposals: #{$proposals};
  --actions: #{$actions};
  --debates: #{$debates};
  --meetings: #{$meetings};
  --twitter: #{$twitter};
  --facebook: #{$facebook};
  --google: #{$google};
}
