<div class="container content-section">
  <div class="row column">
    <div class="main-container tabbed-container">

      <div class="page-title">
        <h1><%= t(".title") %></h1>
      </div>

      <div class="row columns">
        <div class="static__content">
          <%= t(".description_html") %>

          <div data-consent-settings-page></div>
        </div>
      </div>
    </div>
  </div>
</div>
