<div class="extended hero">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading2 hero-heading"><%= title %></h2>
        <div class="lead">
          <%== description %>
        </div>
      </div>
    </div>
    <div class="row columns">
      <%= button1 %>
      <%= button2 %>
    </div>
  </div>
</div>
