.card{
  &.border-primary{
    border: 3px solid $primary;
  }

  // Fixes an issue in the notifications view that the notification items are
  // layed out incorrectly.
  &.card--widget{
    .card-data{
      .card-data__item{
        .notification-details{
          display: block;
          width: 100%;
        }
      }
    }
  }

  &.secondary,
  &.primary,
  &.success,
  &.warning,
  &.alert,
  &.muted{
    border-top-width: 1px;
  }

  &.card-simple{
    border: 0;

    .card-section{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .card-section,
    .card__info{
      padding-left: 0;
      padding-right: 0;
    }

    .card__header{
      margin-bottom: 0;

      h3{
        color: $body-font-color;
        margin-bottom: 0;
      }
    }

    .card__text{
      flex-grow: 1;
      font-weight: normal;
      line-height: 1.6;
    }

    .card__arrow{
      justify-self: end;
      margin-top: .8rem;

      .icon{
        width: 1.3rem;
        height: 1.3rem;
        color: $primary;
      }
    }
  }

  .card__header{
    .card__link{
      // Fix focus outline on the card link
      display: inline-block;
    }
  }

  .card__category{
    position: relative;

    .card__category__icon{
      position: absolute;
      top: 6px;
      display: block;

      img{
        width: 26px;
      }
    }

    .card__category__name{
      display: block;
      margin-left: 35px;
    }
  }
}

a.card-simple{
  &:hover,
  &:focus{
    color: $body-font-color;
  }
}

.card__content{
  .card__content{
    &:not(:only-child){
      padding-top: $card-padding-small / 2;
    }

    @include breakpoint(medium){
      &:not(:only-child){
        padding-top: $card-padding / 2;
      }
    }
  }
}

.wrapper-ruuti{
  .card{
    &.border-primary{
      border: 3px solid $ruuti-primary;
    }

    &.card-simple.card__arrow.icon{
      color: $ruuti-primary;
    }
  }
}

.card__category,
.card__info{
  padding: .5rem;
  font-weight: $global-weight-bold;
}

.card__category{
  background: $hel-medium-grey;
}

.card__button{
  font-size: .7rem;
}

.card__text{
  margin-top: .75rem;
}

.card__footer,
.card__top{
  background: transparent;
  border-top: 0;
}

.card__category,
.card__info,
.card__status{
  padding-left: $card-padding-small;
  padding-right: $card-padding-small;

  @include breakpoint(medium){
    padding-left: $card-padding;
    padding-right: $card-padding;
  }
}

.card__info{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.card__info__item{
  flex: 1 1 0;
}

.card__state{
  color: $white;

  &.success{
    background-color: var(--success);
  }

  &.warning{
    background-color: var(--warning);
    color: $black;
  }

  &.alert{
    background-color: var(--alert);
  }
}

// Keeps the data on one line but it can make it overflow
// .card-data{
//   flex-wrap: initial;
// }

.card-data__item{
  border-top: 1px solid $hel-light-grey;
  border-bottom: 1px solid $hel-light-grey;
  border-right: 1px solid $hel-light-grey;

  &:last-child{
    border-right: 0;
  }

  .has-tip{
    display: flex;
    align-content: center;
    align-items: center;

    .icon-wrap{
      display: flex;
      align-items: center;
    }

    .icon{
      margin-right: .3rem;
    }
  }
}

.card.card--list{
  border: 1px solid $hel-silver;
}

.card--list{
  a.card--list__item{
    &,
    .card--list__data{
      background-color: $hel-silver-light;
    }

    &,
    .author__name{
      color: $body-font-color;
    }

    &:not(:last-child){
      border-bottom: 1px solid $hel-silver;
    }

    &:hover,
    &:focus{
      color: $body-font-color;
      text-decoration: none;

      .card--list__heading{
        text-decoration: underline;
      }

      .author__name{
        text-decoration: none;
      }
    }

    .card--list__data{
      border-left: 1px solid $hel-silver;
    }
  }
}

.card--list.card--list--budgets{
  display: flex;
  flex-direction: column;
  border: 0;

  .card--list__item{
    flex-direction: column;
    border: $border;
    border-radius: $card-border-radius;
    margin-top: 1rem;
    padding-left: 0;

    @include breakpoint(medium){
      flex-direction: row;
    }

    &:first-child{
      margin-top: 0;
    }

    .card--list__data{
      flex-basis: 30%;

      @include breakpoint(large){
        flex-basis: 20%;
      }
    }

    .card__button{
      font-size: 1rem;
    }
  }

  .card--list__text{
    flex-direction: column;
    place-items: stretch;
    padding-left: $card-padding-small;
    width: 100%;

    @include breakpoint(medium){
      padding-left: $card-padding;
      width: auto;
    }

    .card--list__heading{
      .card--list__check{
        display: inline-block;
        top: -2px;
      }
    }

    .card-list__description{
      p{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

.card.budget-summary{
  .budget-summary__progressbox{
    .budget-progress__meter{
      .progress-meter-text--right{
        left: 0;

        @include breakpoint(medium){
          left: auto;
        }
      }
    }
  }
}

// This is the list of budgeting projects
.budget-list{
  .card-list__description{
    margin-bottom: 0;
  }

  .budget-list__item{
    border-bottom: $border;
    flex-direction: column;
    margin-bottom: 2rem;

    @include breakpoint(medium){
      flex-direction: row;
    }
  }

  .budget-list__text{
    // Without this, some of the items could be unclicable in mobile.
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  .budget-list__data{
    flex-direction: column;

    @include breakpoint(medium){
      flex-direction: column;
      justify-content: center;
    }

    .budget-list__data__votes{
      &.budget-list__data__votes--activevoting{
        flex-grow: 0;
        margin-bottom: 1rem;
      }

      > .project-votes,
      > .text-success{
        display: block;
      }

      > .text-success{
        margin-top: 1rem;
      }
    }
  }
}
