$slick-arrow-color: $primary;
$slick-dot-color: $primary;
$slick-dot-size: 24px;
$slick-opacity-default: 1;

@import "helsinki/vendor/slick/slick";
@import "helsinki/vendor/slick/slick-theme";

.card-slider{
  text-align: initial;

  &.slick-slider{
    // Give space for the side arrows in order to keep the arrows outside of the
    // slider track. Otherwise the slides would slide under the arrows which
    // looks weird.
    margin: 0 45px;

    &.slick-dotted{
      margin-bottom: 100px;
    }
  }

  &.center{
    .card-slide-content{
      position: relative;
      padding: 2%;
      margin: 10% 0 0;
      transition: all 300ms ease;

      @include breakpoint(xlarge){
        margin: 24% 0 18%; // Give space for the center element to be fully visible
      }
    }

    .slick-slide{
      margin: 0 1rem;

      @include breakpoint(xlarge){
        margin: 0 2rem;
      }
    }

    .slick-slide.slick-center{
      .card-slide-content{
        @include breakpoint(xlarge){
          transform: scale(1.24);
        }
      }
    }
  }

  &.card-slider--large{
    .card__image{
      max-height: 14rem;
    }
  }

  .slick-track{
    display: flex !important;
  }

  .slick-slide{
    height: inherit !important;
    display: flex;

    > div{
      display: flex;
      width: 100%;
    }

    .card-slide-content{
      display: flex !important;
    }

    .card{
      display: flex;
      flex: 1 1 0;
      flex-direction: column;

      .card__title{
        font-weight: bold;
      }

      .card__content{
        flex-grow: 1;
      }
    }
  }

  .slick-arrow{
    &.focus,
    &:focus{
      outline: $button-outline-focus;
      outline-offset: $button-outline-offset;
    }
  }

  .slick-dots button{
    &.focus,
    &:focus{
      outline: $button-outline-focus;
      outline-offset: $button-outline-offset;
    }
  }

  .card{
    .card__support{
      .card__button,
      .favorite-button{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.slick-prev,
.slick-next{
  height: 55px;
  width: 55px;

  @include breakpoint(large){
    height: 75px;
    width: 75px;
  }

  &::before{
    font-size: 55px;

    @include breakpoint(large){
      font-size: 75px;
    }
  }
}

// Too low contrast with these values
// .wrapper-ruuti{
//   .slick-prev,
//   .slick-next{
//     &::before{
//       color: $ruuti-primary;
//     }
//   }
// }

.slick-prev{
  left: -45px;

  @include breakpoint(large){
    left: -55px;
  }

  @include breakpoint(xlarge){
    left: -65px;
  }
}

.slick-next{
  right: -45px;

  @include breakpoint(large){
    right: -55px;
  }

  @include breakpoint(xlarge){
    right: -65px;
  }
}

.slick-dots{
  bottom: -40px;

  @include breakpoint(large){
    bottom: -70px;
  }

  li{
    margin: 0 20px;
  }
}

.card-slider.single{
  .slick-dots{
    bottom: -40px;
  }
}

// Too low contrast with these values
// .wrapper-ruuti{
//   .slick-dots{
//     li{
//       &.slick-active{
//         button::before{
//           background: $ruuti-primary;
//         }
//       }

//       button::before{
//         border-color: $ruuti-primary;
//       }
//     }
//   }
// }
