@import "decidim/variables";

$colors: (
  primary: $primary,
  secondary: $secondary,
  light: $hel-suomenlinna-light,
  hel-copper: $hel-copper,
  hel-bus: $hel-bus,
  hel-coat: $hel-coat,
  hel-fog: $hel-fog,
  hel-metro: $hel-metro,
  hel-brick: $hel-brick,
  hel-suomenlinna : $hel-suomenlinna,
  hel-engel: $hel-engel,
  hel-tram: $hel-tram,
  hel-summer: $hel-summer,
  hel-silver: $hel-metro,
  hel-gold: $hel-gold,
  hel-black: $hel-black,
  hel-dark: $hel-dark,
  hel-gray: $hel-gray,
  hel-light: $hel-light,
  hel-white: $hel-white,
);

@each $key, $value in $colors{
  .txt-#{$key}{
    color: #{$value};
  }

  .bg-#{$key}{
    background-color: #{$value};
  }
}

.bg-primary{
  &.fg-light{
    &,
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6{
      color: $white;
    }
  }

  &,
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6{
    color: $secondary;
  }

  a:not(.button){
    color: $white;
  }

  a,
  .link,
  .button{
    &:focus{
      outline-color: $highlight-alternative;
      outline-color: var(--highlight-alternative);
    }
  }

  .card{
    a:not(.button){
      color: $anchor-color;
    }
  }
}

.wrapper-ruuti{
  .bg-primary,
  .bg-secondary{
    a,
    .link,
    .button{
      &:focus{
        outline-color: $highlight-alternative;
        outline-color: var(--highlight-alternative);
      }
    }
  }

  .bg-primary{
    background-color: $hel-gold;
    color: $hel-black;

    &,
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6{
      color: $hel-black;
    }

    a:not(.button){
      color: $hel-black;
    }
  }

  .bg-secondary{
    background-color: $hel-fog;
    color: $hel-bus;

    &,
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6{
      color: $hel-bus;
    }

    .button,
    a.button{
      &,
      &.primary{
        background-color: $hel-bus;

        &:hover,
        &:focus{
          background-color: scale-color($hel-bus, $lightness: -50%);
        }

        &.hollow{
          background-color: transparent;
          border-color: $hel-bus;
          color: $hel-bus;

          &:hover,
          &:focus{
            color: $white;
            background: $hel-bus;
            border-color: $hel-bus;
          }
        }
      }
    }
  }
}
