.favorite-button{
  position: relative;
  top: 4px;

  &.button{
    padding: 0;
  }

  .icon-wrap{
    position: relative;

    .heart-icon{
      color: $hel-suomenlinna;

      svg{
        fill: currentColor;
      }
    }
  }

  .indicator-wrap{
    position: absolute;
    bottom: 0;
    right: -8px;
    width: 30px;
    height: 30px;
    border: 3px solid $hel-suomenlinna;
    line-height: 24px;
    border-radius: 50%;
    font-size: 2rem;
    background: $hel-white;
    color: $hel-suomenlinna;
  }
}
