.input-group{
  > :last-child.input-group-button > *{
    // Move the last child on top of the input element's border.
    margin-left: -2px;
  }
}

.input-group-button{
  .button{
    height: 3.45rem;
  }
}

label{
  + .help-text{
    margin-top: 1rem;
  }
}

input[type="checkbox"],
input[type="radio"]{
  &.focus,
  &:focus{
    outline: $input-radiocheck-outline-focus;
  }
}

.actions{
  .icon-button{
    position: relative;
    padding-right: 45px;

    .icon{
      position: absolute;
      top: 19px;
      right: 12px;
      margin-left: 10px;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.mentions__container,
.hashtags__container{
  .tribute-container{
    top: -2rem - rem-calc(1);
  }
}
