.side-panel{
  background-color: transparent;

  .menu{
    a{
      display: block;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
    }

    &.nested{
      margin-left: 0;

      a{
        padding-left: 1.5rem;
      }
    }
  }
}

.side-panel__tabs{
  .tabs-title{
    > [role=tab],
    > a{
      color: $body-font-color;

      &:active,
      &:focus{
        color: $tab-active-color;
      }
    }
  }
}
