<% if strong_providers_enabled? %>
  <div class="social-register static__content">
    <h2 class="h5 margin-bottom-1">
      <%= t("devise.shared.omniauth.strong.sign_in_with") %>
    </h2>
    <p>
      <%= t("devise.shared.omniauth.strong.description", domain: current_organization.host) %>
    </p>

    <% enabled_strong_providers.each_with_index do |provider, index| %>
      <% if index > 0 %>
        <br>
      <% end %>
      <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button primary button--#{normalize_provider_name(provider)}", method: :post do %>
        <%= t("devise.shared.omniauth.#{provider}.sign_in_button") %>
      <% end %>
    <% end %>
  </div>
<% end %>
