<% if weak_providers_enabled? %>
  <div class="social-register text-center">
    <h3 class="h5 margin-bottom-1">
      <%= t("devise.shared.omniauth.weak.sign_in_with") %>
    </h3>
    <p>
      <%= t("devise.shared.omniauth.weak.description") %>
    </p>
  </div>
<% end %>
