<%= javascript_include_tag "show-internal-auth.js" %>

<div id="show-internal-auth" class="text-center">
  <a href="#" onclick="return showInternalAuth()">
    <% if local_assigns[:signing_up?] %>
      <%= t('auth.sign_up_with_internal') %>
    <% else %>
      <%= t('auth.sign_in_with_internal') %>
    <% end %>
  </a>
</div>
