<div class="card__footer">
  <div class="card__support">
    <div class="card__button button hollow primary">
      <%= t("layouts.decidim.participatory_processes.participatory_process.take_part") %>
    </div>
  </div>
</div>
