<div class="card__footer">
  <div class="card__support">
    <%= link_to t("decidim.sortitions.sortitions.sortition.view"), resource_path, class: "card__button button hollow primary" %>
  </div>
</div>
