<div class="progress__bar">
  <div class="text-uppercase">
    <strong class="text-large">
      <%= proposals_count %>
    </strong>
    <small class="text-medium">
      <%= t("decidim.sortitions.sortitions.sortition.selected_proposals", count: proposals_count) %>
    </small>
  </div>
</div>
