<div class="extended page-section">
  <div class="row columns">
    <div class="phases-navigation sub-navigation">
      <ol class="sub-navigation-content phases-list">
        <% past_step = true %>
        <% steps.each_with_index do |step, index| %>
          <% past_step = false if step.active? %>
          <%= process_step_tag(step, past: past_step) do %>
            <div class="phases-list-item-phase">
              <span class="phases-list-item-number"><%= index + 1 %></span>
            </div>
            <div class="phases-list-item-info">
              <div class="phases-list-item-date"><%= step_date_info step %></div>
              <p class="phases-list-item-title">
                <%= translated_attribute step.title %>
              </p>
            </div>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
</div>
