<div class="home-section map-section">
  <div class="row">
    <div class="columns small-12 medium-6 large-8">
      <div class="map-section-image">
        <%= cell("helsinki/pb_map") %>
      </div>
    </div>
    <div class="columns small-12 medium-6 large-4">
      <h2 class="h3"><%== title %></h2>
      <div class="map-section-text">
        <%== description %>
      </div>
      <%= button %>
    </div>
  </div>
</div>
