<div class="prevnext-nav plan-prevnext">
  <div class="prevnext-nav-item">
    <a href="#" class="prevnext-nav-link disabled" data-direction="prev">
      <%= icon "arrow-left", aria_hidden: true %>
      <span class="prevnext-nav-link-text">
        <%= t(".steps.previous") %>
      </span>
    </a>
  </div>
  <div class="prevnext-nav-item">
    <a href="#" class="prevnext-nav-link" data-direction="next">
      <span class="prevnext-nav-link-text">
        <%= t(".steps.next") %>
      </span>
      <%= icon "arrow-right", aria_hidden: true %>
    </a>
  </div>
</div>
