.hearing-wrapper {
  margin-top: $line-height-computed * 1;
}

.hearing-body {
  margin-top: 30px;
  margin-bottom: 100px;
}

.hearing-sidebar {
    background: $gray-lighter;
    padding: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 25px;
    overflow-y: scroll;

    a {
      text-decoration: none;
    }

    .list-group-item {
      margin-bottom: 0;
      border: 0;
      border-bottom: 1px solid $gray-lighter;
      color: $dark-gray;

      &:hover {
        color: $theme-primary-dark;
        background-color: #f5f5f5;
      }

      &.active {
        color: $black;
        &:hover {
          background-color: $theme-highlight-light;
        }
      }
    }

    .subsection-list-group {
      margin-bottom: 0;
      border-bottom: 1px solid $gray-lighter;

      .subsection-list-group-item {
        padding-left: $line-height-computed;
        font-weight: normal;
        border: 0;
      }

    }

    .language-link {
        padding: 4px;
        border-radius: 4px;

        a {
            cursor: pointer;
        }

        &-active {
            padding: 4px;
            border-radius: 4px;
            background: $gray-light;
            color: #fff;
        }
    }

    @media (max-width: $screen-sm-max) {
        position: static !important;
        width: auto !important;
    }

    .sidebar-section {
        margin-bottom: 20px;
        color: $text-muted;

        &.fullscreen {
            .btn .fa {
                margin-right: 5px;
            }
        }

        &.map {
            margin: 20px auto;
        }
        .list-group-item:first-letter {
            text-transform:capitalize;
        }

        &.further-info .flex {
          display: flex;
          flex-wrap: wrap;

          & > div {
              margin-right: 20px;
          }
        }
    }

    h4 {
        margin-top: 0;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: $text-color;
    }

    h5 {
      font-size: 1.4rem;
    }

    .list-group .badge {
        font-size: 1.1rem;
    }

    .comment-icon {
        float: right;
        margin-left: 15px;
    }
}

.hearing-header-hero {
  position: relative;
  min-height: 360px;
  padding-bottom: 60px; // Space for koro shape

  @media (min-width: $screen-md-min) {
    height: 50vh;
    // min-height: 360px; // TODO: Needed?
  }
  @media (min-width: $screen-md-min) {
    min-height: 420px;
  }
  @media (min-width: 1400px) {
    min-height: 530px;
  }
  .hearing-header-hero-image {
    display: none;
  }
  .hearing-header-hero-title {
    position: relative;
    padding-top: 70px;

    h1,
    .h1,
    h2,
    .h2 {
      margin-top: 0;
    }
    @media (min-width: $screen-sm-min) {
      position: absolute;
      left: $grid-gutter-width;
      bottom: 45px;
      width: 65%;
    }
    @media (min-width: $screen-md-min) {
      width: 50%;
      max-width: 950px;
      bottom: 100px;
    }
  }
  .hearing-header-hero-steps {
    position: relative;
    width: 200px;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      right: $grid-gutter-width;
      top: 40px;
    }

    .process-header__progress .phase-item--past {
      span,
      &:after {
        background-color: $white;
      }
    }
    .process-header__progress,
    .process-header__explanation,
    .process-header__button {
      @media (min-width: $screen-sm-min) {
        text-align: center;
      }
    }
  }
  .hearing-header-hero-share {
    position: relative;
    padding-top: 30px;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      right: $grid-gutter-width;
      bottom: 55px;
    }
    @media (min-width: $screen-md-min) {
      bottom: 100px;
    }
    .social-bar {
      a {
        text-decoration: none;
      }
      span {
        margin-right: $line-height-computed / 2;
      }
    }
  }
}

.hearing-header {
  .hearing-header-nav {
    margin-bottom: 20px;
  }

  h1 {
    @media (max-width: $screen-xs-max) {
          font-size: 3rem;
    }
  }

  .timetable,
  .comment-summary {
    margin-bottom: $line-height-computed;
  }

  .hearing-meta:before, .hearing-meta:after {
    content: "";
    display: block;
    margin: 0 15px $line-height-computed;
    border-top: 1px solid $gray-light;
  }

  .social-bar {
    span {
      margin-right: $line-height-computed / 2;
    }
  }

  .hearing-image {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      float: right;
    }

    img {
      max-width: 100%;
    }
  }
}

.hearing-content, .section-content {
  margin-bottom: $line-height-computed * 2;
}

.hearing-image-list {
  margin-bottom: $line-height-computed * 2;
}

.image-caption {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: $gray-lighter;
    font-size: 1.4rem;
}

.hearing-contacts {
  border: 1px solid $gray-light;
  padding: 0 $line-height-computed;
  margin-bottom: $line-height-computed * 2;

  .contact-card {
    margin-bottom: $line-height-computed;
  }
}

.hearing-section-group {
  margin-bottom: $line-height-computed;
  padding-top: $navbar-height;
}

.section-list-item {
    display: flex;
    margin-bottom: $line-height-computed;
    position: relative;
    background-color: $gray-lighter;

    @media (max-width: $screen-xs-max) {
        font-size: 1.4rem;
    }
    &-image {
        flex-basis: content;
        flex-shrink: 0;
        flex-grow: 0;
        width: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: $screen-xs-max) {
            display: none;
        }
        float: left;
        cursor: pointer;
    }
    &-content {
        flex: 1 auto;
        padding: $line-height-computed;
        h3 {
            margin-top: 0;
        }
        @media (min-width: $screen-sm-min) {
            padding-left: 25px;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 1.5rem;
        }
    }
}

.hearing-comment-section {
  padding-top: $navbar-height;
}

.comment-form-container {
  @extend .col-xs-12;
  margin-bottom: $line-height-computed * 2;
}

.comment-form {
    background-color: $white;
    padding: 1em;
    margin-bottom: $line-height-computed;

    &__file {
        margin: 10px 0;
        padding-top: 10px;
    }

    &__image-too-big {
        color: red !important;
        padding-bottom: 10px;
    }

    &__select-button {
        padding: 10px 0;
    }

    &__selected-images {
        padding-top: 10px;
    }

    .comment-buttons {
      text-align: right;
      margin: $line-height-computed 0;

      .btn {
        margin-right: 1em;
      }

      .btn:last-child {
        margin-right: 0;
      }
    }

    textarea {
      height: 7em;
      line-height: 1em;
    }
}

.comment-conditions {
    border-top: 1px solid $gray-light;
    padding-top: 15px;
    font-size: 1.4rem;
}

.section-title {
    cursor: pointer;
    &-comments {
        float: right;
    }
}

.closure-info {
    padding: $line-height-computed;
    margin-bottom: $line-height-computed;
    background-color: $theme-primary-light;

    .section-title {
        cursor: auto;
    }

    .section-content {
      margin: 0;
    }
}

.plugin-frame {
    width: 100%;
    height: 450px;
    border: 0;
}

[id^='hearing-sectiongroup-'] {
    margin-bottom: $line-height-computed * 2;

    h2:first-letter {
        text-transform:capitalize;
    }
}

.sortable-comment-list {
    background-color: $theme-secondary-light;
    padding: $line-height-computed;

    h2 {
      margin-top: 0;
      padding-bottom: $line-height-computed / 2;
      border-bottom: 1px solid $gray;
    }

    h2:first-letter {
        text-transform:capitalize;
    }
}

.delete-modal {
    margin-top: 25%;

    @media (max-width: $screen-sm-max) {
        margin-top: 55%;
    }
}

.commentlist .commentlist__load-more {
  background: $gray-light;
  padding: 20px 15px 15px;
  text-align: center;
}


.commenticon {
    float: right;
}

.process-statistics {
  .list-group {
    .list-group-item {
      @media (min-width: $screen-sm-min) {
        float: left;
        width: 33.333%;
      }
      @media (min-width: $screen-md-min) {
        width: 25%;
      }
    }
  }
}

.opinion-toggle {
  .btn {
    opacity: 0.5;

    &.is-active {
      opacity: 1;
    }
  }
}
