.page-section{
  position: relative;
  padding-top: 44px;
  padding-bottom: 44px;
}

.page-section--hearing-card{
  background-color: $hel-engel;
}

.process-group-description{
  margin-bottom: 50px;
}
