.attachments-section .attachments-list{
  .attached-file{
    font-size: $large-font-size;

    .attachment-move-buttons{
      min-width: 45px;
    }
  }
}

.collaborator-request{
  display: inline-block;
  padding: 10px 15px 0;
  margin: 0 0 1rem 1rem;
  margin-bottom: 1rem;
  border: $border-width solid $primary;

  &:first-of-type{
    margin-left: 0;
  }

  .author-data{
    justify-content: center;
  }
}
