.budget-list__description{
  .card__link{
    color: $body-font-color;
    font-weight: $global-weight-normal;
  }
}

.budget-list__data{
  .card__support{
    padding-bottom: 0;
  }
}

@media print, screen and (min-width: 40em){
  .budget-list__data{
    flex-direction: column;
  }
}

.budget-list__number{
  @include breakpoint(medium){
    flex-grow: 0;
    margin-bottom: 20px;
  }
}

.budget-list__data_votes{
  @include breakpoint(medium){
    flex-basis: 15rem;
  }

  @include breakpoint(large){
    flex-basis: 21rem;
  }
}
