<% links ||= true %>

<% resources.each do |plan| %>
  <p>
    <%= link_to resource_locator(plan).path do %>
      #<%= plan.id %> <%== decidim_html_escape(present(plan).title) %>
    <% end %>
  </p>
<% end %>
