// $navbar-inverse-bg: #ff0000;
// $navbar-inverse-border: #ff0000;

$missing-image:               $theme-secondary-light;
$light-gray-dark:             #ebedf1;
$site-footer-height:          400px;

$link-color:                 $black;

$nav-tabs-border-color:                   $black;
$nav-tabs-active-link-hover-border-color: $black;
$nav-tabs-active-link-hover-color:        $black;

$input-border:               $black;
$btn-default-color:          $black;
$btn-default-border:         $black;
$btn-default-bg:             transparent;

$btn-border-radius-base:     0;
$input-border-radius:        0;

$line-height-base: 1.5;
