<% if has_address? %>
  <div class="card__detail">
    <span class="card__detail--icon">
      <%= icon "meetings" %>
    </span>
    <span class="card__detail--description">
      <%= address %>
    </span>
  </div>
<% end %>
