<div class="card__footer">
  <div class="card__support">
    <% if has_link_to_resource? %>
      <div class="card__button button hollow primary">
        <%= t("decidim.proposals.proposals.proposal.view_proposal") %>
      </div>
    <% end %>
  </div>
</div>
