<section class='extended home-section'>
  <div class="row" id="equity-content-block">
    <h3 class="h2 section-heading text-center"><%= t("title", scope: "decidim.content_blocks.equity") %></h3>
    <div class="row section">
        <div class="columns small-centered small-10 smallmedium-8 medium-8 large-8">
            <p><%= t("subtitle", scope: "decidim.content_blocks.equity") %></p>
        </div>
    </div>
  </div>
  <div class="row" id="equity-learn-more">
  <div class="columns small-centered small-12 smallmedium-8 medium-6 large-4">
      <%= link_to t("button_title", scope: "decidim.content_blocks.equity"), "https://www.seattle.gov/rsji", class: "button expanded hollow button--sc home-section__cta" %>
  </div>
</section>