<% add_decidim_page_title(t(".posts")) %>

<div class="row columns">
  <div class="page-title">
    <h1 class="heading1"><%= t(".posts") %></h1>
  </div>
</div>


<div class="container bg-secondary filters-section">
  <div class="row columns">
    <div class="post-filters record-filters">
      <%= render partial: "filters" %>
    </div>
  </div>
</div>

<div class="container listing-section">
  <div class="row columns">
    <%= render partial: "decidim/blogs/posts/listing", locals: { posts: posts } %>
  </div>
</div>
