.accordion-title,
.accordion-content{
  border-left: 0;
  border-right: 0;
}

.accordion-title{
  &::before{
    margin-top: -20px;
    font-size: 2rem;
  }
}

.is-active > .accordion-title{
  &::before{
    margin-top: -6px;
  }
}

.accordion-content{
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6{
    color: $body-font-color;
  }

  h2,
  .h2{
    font-size: 1.4rem;
  }

  h3,
  .h3{
    font-size: 1.3rem;
  }

  h4,
  .h4{
    font-size: 1.1rem;
  }

  h5,
  .h5{
    color: $body-font-color;
    font-size: 1rem;
  }
}
