.social-register{
  margin-top: 4rem;
}

.reveal .social-register{
  margin-top: 0;
}

.account-wrapper{
  margin: 0 .5rem;
}

.register__separator{
  display: block;
  margin: 2rem 0;
  text-align: center;
}
