.button{
  font-weight: $hel-font-weight-medium;

  &.clear{
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &.button--icon{
    position: relative;
    padding: 1.125rem 3.9rem 1.125rem 1.425rem;

    .icon{
      position: absolute;
      top: 50%;
      right: 1.4rem;
      width: 1.4rem;
      height: 1.4rem;
      transform: translateY(-50%);
    }
  }
}

a.button{
  text-decoration: none;
}

.button--nomargin{
  margin: 0;
}

.buttons-row{
  display: flex;
  gap: 1rem;
}
