.icons-list{
  list-style-type: none;
  margin: 2.05rem 0 0 .8rem;
  font-size: $hel-text-size-l;

  li{
    display: flex;
    padding: 0;
    margin-top: 1.55rem;

    &:first-child{
      margin-top: 0;
    }

    span{
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    .icon{
      position: relative;
      top: -.3rem;
      color: $hel-coat;
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.1rem;
    }
  }
}

.highlights-list{
  list-style-type: none;
  margin: 2.7rem 4rem 2.7rem 4.3rem;
  font-size: $hel-text-size-l;

  li{
    margin-top: 2.85rem;

    &:first-child{
      margin-top: 0;
    }
  }
}

ol.highlights-list{
  counter-reset: li;

  li{
    counter-increment: li;

    &::before{
      content: counter(li) ".";
      display: block;
      float: left;
      width: 1em;
      margin-left: -3.6rem;
      color: $hel-coat;
      text-align: center;
      font-size: 3rem;
      line-height: 1.1;
    }
  }
}
