.omnipresent-banner{
  background-color: $hel-black;
  color: $white;
  text-align: center;
  padding: 1rem;
  font-size: $hel-text-size-xl;

  .omnipresent-banner-title{
    font-weight: bold;
    margin-right: 1em;
  }

  .omnipresent-banner-short-description{
    margin-right: .5em;
    margin-left: 1em;
  }

  a{
    color: $white;
    text-decoration: none;
  }

  a:hover,
  a:focus{
    .omnipresent-banner-title,
    .omnipresent-banner-short-description{
      text-decoration: underline;
    }
  }
}
