<% if documents.any? %>
  <div class="section">
    <h2 class="section-heading h5"><%= t("decidim.application.documents.related_documents") %></h2>
    <% if (documents_without_collection = documents.reject(&:attachment_collection_id?)).any? %>
      <div class="attachments">
        <% documents_without_collection.each do |document| %>
          <%= render partial: "decidim/application/document", locals: { document: document } %>
        <% end %>
      </div>
    <% end %>
    <% documents.select(&:attachment_collection_id?).group_by(&:attachment_collection).sort_by { |c, d| c.weight }.each do |collection, documents| %>
      <%= render partial: "decidim/application/collection", locals: { attachment_collection: collection, documents: documents } %>
    <% end %>
  </div>
<% end %>
