<div class="comment__actions">
  <% if can_reply? %>
    <button class="comment__reply" aria-controls="<%= reply_id %>" data-toggle="<%= reply_id %>">
      <%= t("decidim.components.comment.reply") %>
    </button>
  <% end %>
</div>
